// Colors

$off-blue: #003366;
$off-white: #cce6ff;
$blue: #3399ff;
$blue-2: #004d99;
$light-blue: #0066cc;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$dark-blue: #0059b3;
$desktop-breakpoint: 45rem;
